<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h3>Random Word (attempt # {{ request.session.counter }})</h3>

    <div id="random-word-box">
        <p> {{ unique_id }}</p>
    </div>

    
    <form action="/random_word" method="POST">
        {% csrf_token %}
            <button type="submit">Generate</button>
    </form>
   

</body>
</html>